<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wizsmith.lockmanager">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:theme="@style/Theme.WizSmith">

        <activity android:name=".ui.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.admin.AdminDashboardActivity" />
        <activity android:name=".ui.admin.UserManagementActivity" />

        <activity android:name=".ui.tech.GatewaySetupActivity" />
        <activity android:name=".ui.tech.LockSetupActivity" />
        <activity android:name=".ui.tech.ServiceTicketsActivity" />
        <activity android:name=".ui.tech.DiagnosticsActivity" />
        <activity android:name=".ui.tech.SettingsActivity" />

    </application>
</manifest>
